/* Use this selector to override the line style on a given series */
#SWFilms .ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: green;
    /* Control the thikness of your lines */
    stroke-width: 1px;
    /* Create a dashed line with a pattern */
    stroke-dasharray: 10px 20px;
  }
  
  /* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
  #SWFilms .ct-series-a .ct-point {
    /* Colour of your points */
    stroke: greenyellow;
    /* Size of your points */
    stroke-width: 10px;
    /* Make your points appear as squares */
    stroke-linecap:round;
    
  }

  #SWCharacters .ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: blue;
  }
  
  div {
    height: 500px;
    width: 1000px ;
  }



  .grafica {
    margin: 40px 100px;
    padding: 20px;
    
  }
